
header{
    color:rgb(13, 13, 97)

}

nav {
    width: 100vw;


}

nav div {
position: relative;
top: 20px;
left: 0px;
    
}

img{
    border: dotted;
    border-color: darkblue;
}

a {
    border: solid;
    border-color: rgb(6, 5, 51);

}

h1 {
    color: cadetblue;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

nav ul li {
    position: relative;
    bottom: 5px;
    right: 30px;
    padding: 0 30px;
}

nav ul li:hover {
    font-size:30px;
    background-color: rgba(105, 165, 255, 0.613);
}

strong {
   font-size: 25px; 
}
.list-container {
    display:flex;
    justify-content: space-evenly;
    
    
}

.list-item {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #97cfe0;
    color: rgb(18, 36, 114);
    border-style: solid;
    border-color: rgb(50, 83, 160);
    padding:8px;
}

.boxes {
    display:flex;
    justify-content: space-evenly;

    background-color: rgb(151, 207, 224);
    color: rgb(18, 36, 114);
    border-style: solid;
    border-color: rgb(50, 83, 160);
    padding:8px;
}

.boxes-item {
    display:flex;
    justify-content: center;
    
    background-color: #97cfe0;
    color: rgb(18, 36, 114);
    border-style: solid;
    border-color: rgb(50, 83, 160);
    padding:8px;
}



.blue-box {
    display: flex;
    justify-content: center;
    margin:25px;
    
    font-size: 32px;
    color: rgb(18, 36, 114);

    background-color: #97cfe0;
    border-style: solid;
    border-color: rgb(50, 83, 160);
}

.blue-box > p {
    font-size: 24px;
}

.mouse-over:hover {
font-size: 48px;

}

.button-blue {
    background-color: #70b6cc;
    border-style: solid;
    border-color: rgb(37, 66, 135);

}

.button{
    background-color:#00aadd;
    animation: anim 5s infinite;
}

@keyframes anim {
    0% {
        background-color: blue;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: blue;
    }
}


button:hover{
background-color:#0484aa;
}

footer {
    position:absolute;
    bottom: 10px;
    left: 10px;

    border: dotted;
    background-color:rgb(151, 207, 224);

    max-width:15vw;


}

#blog-nav {
    display: flex;
    flex-direction: column;
}

